<div class="row justify-content-center">
    <div class="col-md-9 col-lg-8 col-xl-7 mb-1 ml-md-auto">
        <div class="d-flex justify-content-between"> 
            <a href="#springMessage("idp.login.legalnotice.url")"> #springMessageText("idp.login.legalnotice.title", "")</a>
            <a href="#springMessage("idp.login.needHelp.url")"> #springMessageText("idp.login.needHelp", "Need Help?")</a>
            <div class="form-check form-switch d-flex justify-content-end">
                <input type="checkbox" class="form-check-input pd-2" id="darkSwitch" />
                <label class="custom-control-label" style="margin-left: 4px;" for="darkSwitch">#springMessageText("idp.darkmode", "Dark Theme")</label>
            </div>
        </div>
    </div>
</div>