##
## Velocity Template for DisplayUsernamePasswordPage view-state
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## authenticationContext - context with authentication request information
## authenticationErrorContext - context with login error state
## authenticationWarningContext - context with login warning state
## ldapResponseContext - context with LDAP state (if using native LDAP)
## rpUIContext - the context with SP UI information from the metadata
## extendedAuthenticationFlows - collection of "extended" AuthenticationFlowDescriptor objects
## passwordPrincipals - contents of the shibboleth.authn.Password.PrincipalOverride bean
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($username = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
#set ($passwordEnabled = false)
#if (!$passwordPrincipals or $passwordPrincipals.isEmpty() or $authenticationContext.isAcceptable($passwordPrincipals))
  #set ($passwordEnabled = true)
#end
##
##set ($url = $request.getRequestURL())
#set ($url = $flowRequestContext.getFlowExecutionUrl())
##set ($langFromContext = $httpUtil.getParameter($url, "lang", false))
#set ($langFromContext = $request.getParameter("lang"))
#set ($langDeParam = 'de')
#set ($langEnParam = 'en')
#set ($urlEn = $url + '&' + 'lang' + '=' + $langEnParam)
#set ($urlDe = $url + '&' + 'lang' + '=' + $langDeParam)
#set($referrer = $request.getHeader('referer'))
#set($idpEntityId = $environment.getProperty("idp.entityID","default"))
##
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>#springMessageText("idp.title", "Web Login Service")</title>
  <script src="$request.getContextPath()/js/dark-mode-switch.min.js"></script>
  <script src="$request.getContextPath()/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/hm.css">
  #if($referrer.toString().contains("rcp"))
  <script>
      if(window.self !== window.top) {
          var ref = "$referrer";
          var rcurlx = window.name;
          if(rcurlx && rcurlx.includes("Paella Player")) {
            var rcurl = 'https://moodle.hm.edu/Shibboleth.sso/Login?entityID=$idpEntityId&target=' + 'https://moodle.hm.edu';
          } else {
            var rcurl = 'https://moodle.hm.edu/Shibboleth.sso/Login?entityID=$idpEntityId&target=' + rcurlx;
          }
      }
  </script>
</head>
<body style="width: 96%; overflow: hidden; height: auto;">
 <div style="width: 100%; height: auto; overflow: hidden; box-sizing: content-box;">
    <div class="aai_box" style='border: 1px solid #faebcc; border-radius: 4px;color: #8a6d3b; background-color: #fcf8e3; padding: 17px; margin: 0 auto; text-align: center;top: 20%; margin-top: 25px'>
         <img style="border: 0; width: 19%; margin-bottom: 0; float: left;" src="$request.getContextPath()/images/lock_sso.png" alt="#springMessageText("idp.logo.alt-text", "logo")">
         <p style='width: 96%;font-family: Helvetica,Arial,sans-serif; font-size: 16px; margin-left: 6%; text-align:center'>Zugang verweigert. Bitte klicken Sie <strong><a target="_top" style="color:#a94442;font-weight: 500px" href="javascript:void()" onClick="javascript:open(rcurl, '_top', 'height=400,width=500,resizable=no')">hier</a></strong> um sich einzuloggen!</p>
    </div>
 </div>
</body>
</html>
#end
#if(!$referrer.toString().contains("rcp"))
<script>
 if(window.self !== window.top) {
   var ref = "$referrer";
   window.stop();
   window.setTimeout(function(){
     // Move to a new location or you can do something else
     self.location=ref + "&rcp";
   }, 300);
 }
</script>
</head>

<body>
  <div class="container">
    
    #parse("header.vm")


    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-6 col-xl-5  ml-md-auto mb-2">        
        #parse("login-error.vm")
        <form action="$flowExecutionUrl" method="post" class="mb-1">
          #parse("csrf/csrf.vm")

          #if ($passwordEnabled)
          <input class="form-control mb-1" id="username" name="j_username" placeholder="#springMessageText("idp.login.username", "Username")" type="text" value="#if($username)$encoder.encodeForHTML($username)#end" />
          
          <input class="form-control mb-2" id="password" name="j_password" type="password" value="" placeholder="#springMessageText("idp.login.password", "Password")" />       
          #end

          #set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
          #set ($entityId = $rpContext.getRelyingPartyId())
          #if (!$entityId.matches('^https?:\/\/(.+)\.hm\.edu\/.*$') && !$entityId.matches('^https?:\/\/(.+)\.fh-muenchen\.de\/.*$'))
            <div class="form-check mb-2">
              <input id="_shib_idp_revokeConsent" class="form-check-input" type="checkbox" name="_shib_idp_revokeConsent" value="true">
              <label class="form-check-label">
              #springMessageText("idp.attribute-release.revoke", "Clear prior granting of permission for release of your information to this service.")
              </label>
            </div>
          #end
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            #if ($passwordEnabled)
            <button class="form-button btn btn-hm" type="submit" name="_eventId_proceed" onClick="this.childNodes[0].nodeValue='#springMessageText("idp.login.pleasewait", "Logging in, please wait..." )'">#springMessageText("idp.login.login","Login")</button>
            #end

            #foreach ($extFlow in $extendedAuthenticationFlows)
              #if ($authenticationContext.isAcceptable($extFlow) and $extFlow.apply(profileRequestContext))
              <button class="form-button btn btn-hm" type="submit" name="_eventId_$extFlow.getId()">
                #springMessageText("idp.login.$extFlow.getId().replace('authn/','')",
                $extFlow.getId().replace('authn/',''))
              </button>
              #end
            #end
          </div>
        </form>

        #if ($passwordEnabled)
        <div class="mb-2">
            #springMessageText("idp.login.forgotPassword.message","")
        </div>
          
        #end
        
        <div class="collapse-arrow">
          <a href="#abuse" data-bs-toggle="collapse" aria-expanded="false" class="collapsed"
            aria-controls="abuse">#springMessageText("idp.login.prevent-abuse.title","")
            <span class="icon">
              <svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="14px" height="14px" viewBox="0 0 451.847 451.847" tyle="enable-background:new 0 0 451.847 451.847;" xml:space="preserve">
                <g>
                  <path
                    d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                                        c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                                        c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" />
                </g>
              </svg>
            </span>
          </a>
          <div class="collapse" id="abuse">#springMessageText("idp.login.prevent-abuse.message","")</div>
        </div>
      </div>
      
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-6 col-xl-5  mb-1 ml-md-auto">
        #parse("footer.vm")
      </div>
    </div>
  </div>

</body>

</html>
#end
