##
## Velocity Template for logout flow's concluding view-state (no propagation)
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## logoutContext - context with SPSession details for logout operation
## multiRPContext - context with RelyingPartyContexts and possibly SP UI information from the metadata
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
#set ($activeIdPSessions = $logoutContext and !$logoutContext.getIdPSessions().isEmpty())
#set ($activeSPSessions = $logoutContext and !$logoutContext.getSessionMap().isEmpty())
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>#springMessageText("idp.title", "Web Login Service")</title>
  <script src="$request.getContextPath()/js/dark-mode-switch.min.js"></script>
  <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/hm.css">
</head>

<body>
  <div class="container">
    #parse("header-small.vm")
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-7 col-xl-6 ml-md-auto mb-2">
        #if ($activeIdPSessions)
        <p>#springMessageText("idp.logout.cancelled", "Logout has been cancelled.")</p>
        #elseif ($activeSPSessions)
        <p>#springMessageText("idp.logout.local", "You elected not to log out of all the applications accessed during your session.")</p>
        #else
        <p>#springMessageText("idp.logout.complete", "The logout operation is complete, and no other services appear to have been accessed during this session.")</p>
        #end
        <ol>
          #foreach ($sp in $logoutContext.getSessionMap().keySet())
            #set ($rpCtx = $multiRPContext.getRelyingPartyContextById($sp))
            #if ($rpCtx)
              #set ($rpUIContext = $rpCtx.getSubcontext("net.shibboleth.idp.ui.context.RelyingPartyUIContext"))
            #end
            #if ($rpUIContext and $rpUIContext.getServiceName())
              <li>$encoder.encodeForHTML($rpUIContext.getServiceName())</li>
            #else
              <li>$encoder.encodeForHTML($sp)</li>
            #end
          #end
        </ol>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-7 col-xl-6 mb-1 ml-md-auto">
        #parse("footer.vm")
      </div>
    </div>
  </div>

  <!-- If SAML logout, complete the flow by adding a hidden iframe. -->
  #if ( $profileRequestContext.getProfileId().contains("saml2/logout") )
  <iframe style="display:none" src="$flowExecutionUrl&_eventId=proceed"></iframe>
  #end


</body>

</html>