##
## Velocity template to write to local storage.
##
## Velocity context will contain the following properties
## flowExecutionUrl - the form action location
## flowRequestContext - the Spring Web Flow RequestContext
## flowExecutionKey - the SWF execution key (this is built into the flowExecutionUrl)
## profileRequestContext - root of context tree
## saveContext - context with details about the storage data to save
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## environment - Spring Environment object for property resolution
#set ($title = $springMacroRequestContext.getMessage("idp.title", "Web Login Service"))
#set ($titleSuffix = $springMacroRequestContext.getMessage("idp.client-storage-write.suffix", "Saving Session Information..."))
##
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>$title - $titleSuffix</title>
        <script src="$request.getContextPath()/js/dark-mode-switch.min.js"></script>
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/hm.css">
        <script>
        <!--
        #include( "client-storage/local-storage-write.js" )
        // -->
        </script>
    </head>
    <body onload="doSave()">
        <div class="container">
            
            #parse("header.vm")
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7 col-xl-6 ml-md-auto mb-2">
                
                    <header>
                        <h3>$title - $titleSuffix</h3>
                    </header>
                    $springMacroRequestContext.getMessage("idp.client-storage-write.text", "Saving login session information to the browser...")
                
                    <noscript>
                        <div class="content">
                        $springMacroRequestContext.getMessage("idp.client-storage.no-js", "Since your browser does not support JavaScript, you must press the Continue button once to proceed.")
                        </div>
                    </noscript>
                </div>
            </div>
            #parse( "client-storage/write.vm" )
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7 col-xl-6 mb-1 ml-md-auto">
                    #parse("footer.vm")
                </div>
            </div>
        </div>
    </body>
</html>