##
## Velocity Template for DisplayAttributeReleasePage view-state
##
## Velocity context will contain the following properties :
##
## attributeReleaseContext - context holding consentable attributes
## attributeReleaseFlowDescriptor - attribute consent flow descriptor
## attributeDisplayNameFunction - function to display attribute name
## attributeDisplayDescriptionFunction - function to display attribute description
## consentContext - context representing the state of a consent flow
## encoder - HTMLEncoder class
## flowExecutionKey - SWF execution key (this is built into the flowExecutionUrl)
## flowExecutionUrl - form action location
## flowRequestContext - Spring Web Flow RequestContext
## profileRequestContext - OpenSAML profile request context
## request - HttpServletRequest
## response - HttpServletResponse
## rpUIContext - context with SP UI information from the metadata
## environment - Spring Environment object for property resolution
#set ($serviceName = $rpUIContext.serviceName)
#set ($serviceDescription = $rpUIContext.serviceDescription)
#set ($informationURL = $rpUIContext.informationURL)
#set ($privacyStatementURL = $rpUIContext.privacyStatementURL)
#set ($rpOrganizationLogo = $rpUIContext.getLogo())
#set ($rpOrganizationName = $rpUIContext.organizationDisplayName)
#set ($replaceDollarWithNewline = true)
##
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="$request.getContextPath()/js/dark-mode-switch.min.js"></script>
    <script src="$request.getContextPath()/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/hm.css">
    <title>#springMessageText("idp.attribute-release.title", "Information Release")</title>
</head>

<body>
    <div class="container">
        #parse("header-small.vm")
        <div class="row justify-content-center">

            <div class="col-md-8 col-lg-7 col-xl-6 ml-md-auto mb-2">
                <form action="$flowExecutionUrl" method="post">
                    #parse("csrf/csrf.vm")
                    <div class="box">
                        <header>
                            #if ($rpOrganizationLogo)
                            <img src="$encoder.encodeForHTMLAttribute($rpOrganizationLogo)"
                                alt="logo for $encoder.encodeForHTMLAttribute($serviceName)" class="organization_logo">
                            #end
                        </header>
                        #if ($serviceName)
                        
                           
                            
                            #if ($serviceDescription)
                            <div class="collapse-arrow">
                                #springMessageText("idp.attribute-release.serviceNameLabel", "You are about to access the service:")<br>
                                <a href="#description" data-bs-toggle="collapse" aria-expanded="false" class="collapsed"
                                aria-controls="description">$serviceName
                                <span class="icon">
                                  <svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" width="14px" height="14px" viewBox="0 0 451.847 451.847" tyle="enable-background:new 0 0 451.847 451.847;" xml:space="preserve">
                                    <g>
                                      <path
                                        d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                                                            c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                                                            c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" />
                                    </g>
                                  </svg>
                                </span>
                              </a>
                              <div class="collapse" id="description">
                                  #springMessageText("idp.attribute-release.serviceDescriptionLabel", "Description as provided by this service:")<br>
                                <span class="service_description">$encoder.encodeForHTML($serviceDescription)</span></div>
                                
                            </p>
                            </div>
                            #else
                                <p>#springMessageText("idp.attribute-release.serviceNameLabel", "You are about to access the service:")<br>
                                <span class="service_name">$serviceName</span>
                                </p>
                            #end

                            #if ($rpOrganizationName) 
                                #springMessageText("idp.attribute-release.of", "of") <span class="organization_name">$encoder.encodeForHTML($rpOrganizationName)</span>
                            #end
                        #end
                       
                        #if ($informationURL)
                        <p>
                            <a href="$informationURL">#springMessageText("idp.attribute-release.informationURLLabel", "Additional information about the service")</a>
                        </p>
                        #end
                        <div id="attributeRelease" style="font-size:0.9em">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="3">
                                            #springMessageText("idp.attribute-release.attributesHeader", "Information to be Provided to Service")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    #foreach ($attribute in $attributeReleaseContext.getConsentableAttributes().values())
                                    <tr>
                                        <td>$encoder.encodeForHTML($attributeDisplayNameFunction.apply($attribute))</td>
                                        <td class="text-wrap text-break">
                                            #foreach ($value in $attribute.values)
                                            #if ($replaceDollarWithNewline)
                                                #set ($encodedValue = $encoder.encodeForHTML($value.getDisplayValue()).replaceAll($encoder.encodeForHTML('$'),"<br>"))
                                            #else
                                                #set ($encodedValue = $encoder.encodeForHTML($value.getDisplayValue()))
                                            #end
                                            #if ($attributeReleaseFlowDescriptor.perAttributeConsentEnabled)
                                                <label for="$attribute.id"><strong>$encodedValue</strong></label>
                                            #else
                                                <strong>$encodedValue</strong>
                                            #end
                                            <br>
                                            #end
                                        </td>
                                        <td style="vertical-align: top">
                                            #if ($attributeReleaseFlowDescriptor.perAttributeConsentEnabled)
                                                #set ($inputType = "checkbox")
                                            #else
                                                #set ($inputType = "hidden")
                                            #end
                                            <input id="$attribute.id" type="$inputType" name="_shib_idp_consentIds" value="$encoder.encodeForHTML($attribute.id)" checked>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                        #if ($privacyStatementURL)
                        <p style="margin-top: 10px;">
                            <a href="$privacyStatementURL">#springMessageText("idp.attribute-release.privacyStatementURLLabel", "Data privacy information of the service")</a>
                        </p>
                        #end
                        <p>
                            #springMessageText("idp.attribute-release.confirmationQuestion", "The information above would be shared with the service if you proceed. Do you agree to release this information to the service every time you access it?")
                        </p>
                        #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed || $attributeReleaseFlowDescriptor.globalConsentAllowed)
                        <div id="generalConsentDiv">
                            #springMessageText("idp.attribute-release.consentMethod", "Select an information release consent duration:")
                            #end
                            #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed)
                            <div class="form-check">
                                <input id="_shib_idp_doNotRememberConsent" class="form-check-input" type="radio" name="_shib_idp_consentOptions"
                                    value="_shib_idp_doNotRememberConsent">
                                <label class="form-check-label"
                                    for="_shib_idp_doNotRememberConsent">#springMessageText("idp.attribute-release.doNotRememberConsent",
                                    "Ask me again at next login")</label>
                            
                                #springMessageText("idp.attribute-release.doNotRememberConsentItem", "I agree to send my information this time.")
                            
                            </div>
                            #end
                            #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed ||
                            $attributeReleaseFlowDescriptor.globalConsentAllowed)
                            <div class="form-check">
                                <input id="_shib_idp_rememberConsent" class="form-check-input" type="radio" name="_shib_idp_consentOptions"
                                    value="_shib_idp_rememberConsent" checked>
                                <label class="form-check-label"
                                    for="_shib_idp_rememberConsent">#springMessageText("idp.attribute-release.rememberConsent",
                                    "Ask me again if information changes")</label>
                            
                                #springMessageText("idp.attribute-release.rememberConsentItem", "I agree that the same information will be sent automatically to this service in the future.")
                            
                            </div>
                            #end
                            #if ($attributeReleaseFlowDescriptor.globalConsentAllowed)
                            <div class="form-check">
                                <input id="_shib_idp_globalConsent" class="form-check-input" type="radio" name="_shib_idp_consentOptions"
                                    value="_shib_idp_globalConsent">
                                <label class="form-check-label"
                                    for="_shib_idp_globalConsent">#springMessageText("idp.attribute-release.globalConsent",
                                    "Do not ask me again")</label>
                            
                               #springMessageText("idp.attribute-release.globalConsentItem", "I agree that <strong>all</strong> of my information will be released to <strong>any</strong> service.")
                            </div>
                            #end
                            #if ($attributeReleaseFlowDescriptor.doNotRememberConsentAllowed ||
                            $attributeReleaseFlowDescriptor.globalConsentAllowed)
                            #springMessageText("idp.attribute-release.consentMethodRevoke", "This setting can be revoked
                            at any time with the checkbox on the login page.")
                        </div>
                        #end
                        <div class="d-grid gap-2 mt-2 justify-content-lg-center d-lg-flex">
                            <input type="submit" name="_eventId_proceed" value="#springMessageText("idp.attribute-release.accept", "Accept" )" class="btn btn-hm">
                            <input type="submit" name="_eventId_AttributeReleaseRejected" value="#springMessageText("idp.attribute-release.reject", "Reject" )" class="btn btn-hm">
                        </div>
                    </div>
                </form>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7 col-xl-6 mb-1 ml-md-auto">
                    #parse("footer.vm")
                </div>
            </div>
        </div>
    </div>
</body>

</html>
